<div class="board">
	<a href="google.com" class="cell">O</a>
	<a href="google.com" class="cell">O</a>
	<a href="google.com" class="cell">O</a>
	<a href="google.com" class="cell">O</a>
	<a href="google.com" class="cell">O</a>
	<a href="google.com" class="cell">X</a>
	<a href="google.com" class="cell">X</a>
	<a href="google.com" class="cell">X</a>
	<a href="google.com" class="cell">X</a>
</div>
<script>

</script>
